@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <p>In dieser Applikation können Mitarbeiter der @ViewBag.SchoolName , die administrativen Daten eines Schülers aufrufen.</p><br
<br />
</div>

       
       